.slides__clearanceSale {
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
		font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    color: brown;
  }
  
  .slides {
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .slides__img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgb(97, 97, 97);
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .slides__right {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin-left: 10%;
  }

  .slides__recipe {
    color: rgb(48, 43, 43);
    font-size: 25px;
    font-weight: 400;
		font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    line-height: 1.55;
  }
  
  .slides__button {
    margin-top: 15px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background-color: #fc9400;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.294);
  }
  
  .slides__button:hover {
    background: rgb(255, 255, 255);
    color: #fc9400;
    border: 1px solid #fc9400;
  }
  
