.search {
    display: flex;
    align-items: center;
  }

#input_text{
    font-size: 14px;
}

.searchTerm {
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 25px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
    width: 400px;
}

/* Áp dụng kiểu dáng cho các option trong dropdown */
.searchOption option {
    font-size: 14px; 
    padding: 10px;
  }
  
  .searchOption {
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 41px;
    font-size: 14px;
  }
  


.searchTerm:focus {
    color: #00b4cc;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 100%;
    margin: 20px auto;
    justify-content : center;
    display: flex;
    
    /* change the margin to move where it is on the page */
}
