.prodcontainer {
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 30px;
}
.prodimg {
  margin-left: 30px;

}
.prodimg img {
  height: 500px;
  width: 100%;
}



.cover {
  object-fit: contain;
}
.proddetails {
  margin-right: 30px;
  margin-left: 20px;
}
.prodtitle,
.proddesc,
.prodprice {
  margin: 20px;
  padding: 20px;
}
.prodtitle {
  font-size: 15px;
  text-align: center;
}
.proddesc {
  font-size: 20px;
}
